@page "/Worker/Form"
@page "/Worker/Form/{WorkerId}"
@using Domain
@using Services.ServiceInterfaces

@inject IWorkerService WorkerService
@inject IOutpostService OutpostService
@inject NavigationManager NavManager

<h3>Worker form</h3>
<EditForm class="p-3" Model="@_workerFormDetails" OnSubmit="@HandleSubmit">
    <div class="mb-2">
        <label>First name</label>
        <InputText id="firstName" @bind-Value="_workerFormDetails.FirstName" placeholder="Enter worker first name"></InputText>
    </div>
    <div class="mb-2">
        <label>Last name</label>
        <InputText id="lastName" @bind-Value="_workerFormDetails.LastName" placeholder="Enter worker last name"></InputText>
    </div>
    <div class="mb-2">
        <label>Outpost</label>
        <InputSelect id="outpost" @bind-Value="_workerFormDetails.Outpost" class="form-control">
            <option value="null">None</option>
            @foreach (var outpost in OutpostService.GetAll())
            {
                <option value="@outpost.Id.ToString()">@outpost.Name (ID: @outpost.Id)</option>
            }
        </InputSelect>
    </div>
    <div class="mb-2">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</EditForm>



@code {
    [Parameter]
    public string? WorkerId { get; set; }

    private Worker? _worker;
    private WorkerFormDetails _workerFormDetails = new WorkerFormDetails();
    // private List<Outpost> _outposts;

    protected override async Task OnInitializedAsync()
    {
        // _outposts = OutpostService.GetAll();
        
        if (WorkerId == null)
            return;

        _worker = WorkerService.Get(Guid.Parse(WorkerId));
        if(_worker == null)
            return;

        _workerFormDetails.FirstName = _worker.FirstName;
        _workerFormDetails.LastName = _worker.LastName;
        _workerFormDetails.Outpost = _worker.Outpost?.Id.ToString();
    }

    private void HandleSubmit()
    {
        if (_worker == null)
            HandleCreate();
        else
            HandleEdit();
        NavManager.NavigateTo("/Workers");
    }

    private void HandleEdit()
    {
        if (_worker == null)
            return;

        if (_workerFormDetails.Outpost == null || _workerFormDetails.Outpost.Equals("null"))
            _worker.Outpost = null;
        else
        {
            Guid id = Guid.Parse(_workerFormDetails.Outpost);
            Outpost? outpost = OutpostService.Get(id);
            _worker.Outpost = outpost;
        }
        
        WorkerService.Edit(_worker.Id,_worker.FirstName,_worker.LastName, _worker.Outpost);
    }

    private void HandleCreate()
    {
        _worker = Worker.CreateNew(_workerFormDetails.FirstName, _workerFormDetails.LastName);


        if (_workerFormDetails.Outpost == null || _workerFormDetails.Outpost.Equals("null"))
            _worker.Outpost = null;
        else
        {
            Guid id = Guid.Parse(_workerFormDetails.Outpost);
            Outpost? outpost = OutpostService.Get(id);
            _worker.Outpost = outpost;
        }
        
        WorkerService.Add(_worker.FirstName, _worker.LastName, _worker.Outpost);
    }

    public class WorkerFormDetails
    {
        public string FirstName = "";
        public string LastName = "";
        public string? Outpost;
    }
}